body {
    background-color: grey;
}

.card {
    background-color: black;
    margin-inline-end: ;
    box-shadow: inset;
}

.img {
    height: 5cm;
    width: 100%;
}

.card-body p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 640px) {}